##*** .gitignore - Untracked files ************************************

##** Global ***********************************************************

## Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
*~

## C
*.o

##** Project specific *************************************************
dcc
